@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

:root {
  --main-color: #deab5f;
  --primary-color: #312e2e;
}

/* Utility Styles */

button {
  padding: 10px 30px;
  background: var(--main-color);
  border: none;
  cursor: pointer;
  transition:
    background 0.3s,
    color 0.3s,
    transform 0.2s;
}

button:hover {
  background: var(--primary-color);
  color: var(--main-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #100e0f;
}

/* Navigation */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  font-family: sans-serif;
  padding-top: 15px;
  padding-bottom: 15px;
}

li {
  display: inline;
  list-style: none;
}

li a {
  color: #fff;
  text-decoration: none;
  margin-left: 40px;
  padding-bottom: 10px;
}

li a:hover {
  border-bottom: 2px solid var(--main-color);
}
/* Navigation End */

/* Header Section */
header {
  background: url(images/pexels-nao-triponez-129207.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  font-family: "Playfair Display", serif;
  font-weight: normal;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: relative;
  text-align: center;
}

.main-headings {
  position: absolute;
  top: 7rem;
  font-size: 4rem;
  word-spacing: 10px;
  margin-bottom: -40px;
}

.primary-heading {
  position: absolute;
  bottom: 4rem;
  font-size: 4rem;
  word-spacing: 10px;
  margin-bottom: -40px;
}

.main-btn {
  position: absolute;
  bottom: 2rem;
  padding: 10px 30px;
  margin-top: 20px;
  background: var(--main-color);
  transform: translateY(60px);
}

#our-story {
  margin-top: 15%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.img {
  width: 400px;
  height: 400px;
  background: url(images/pexels-chitokan-2183027-removebg-preview.png);
  background-position: center;
  background-size: cover;
}

.title-style {
  display: flex;
  align-items: center;
}

.title {
  font-family: "Playfair Display", serif;
  font-size: 4rem;
  color: white;
  transform: translateX(-100px);
}

.line {
  width: 100px;
  height: 2px;
  background: #fff;
  transform: translateX(-120px);
}

.section-content p {
  max-width: 500px;
  color: white;
  font-family: sans-serif;
  line-height: 20px;
  margin: 20px 0;
}

/* Our Story End */

/* Coffee Start */

.coffee-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 10rem;
  color: #fff;
}

.img-2 {
  width: 400px;
  height: 400px;
}

.title-2 {
  font-size: 3rem;
  color: #fff;
  font-family: "Playfair Display", serif;
}

.content-section p {
  max-width: 500px;
  margin-top: 20px;
  font-family: sans-serif;
  color: #fff;
}

/* Coffee End */

.products {
  margin-top: 5rem;
}

.title-three {
  font-size: 4rem;
  margin-left: 10rem;
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.card {
  border: 2px solid var(--main-color);
  padding: 0 20px;
  height: 400px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
  position: relative;
  margin-bottom: 4rem;
  color: #fff;
}

.card-img {
  width: 100px;
  height: 100px;
  position: absolute;
  top: -60px;
}

.img-one {
  background: url(images/1.png);
  background-position: center;
  background-size: cover;
}

.img-two {
  background: url(images/2.png);
  background-position: center;
  background-size: cover;
}

.img-three {
  background: url(images/3.png);
  background-position: center;
  background-size: cover;
}

.card-title {
  color: #fff;
  font-family: sans-serif;
  margin-top: 50px;
}

.card-items p {
  color: #fff;
  margin: 20px 0;
  font-family: sans-serif;
}

/* Products End */

/* Footer Start */

footer {
  height: 50vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-family: sans-serif;
}

footer .container {
  margin: 20px;
  max-width: 300px;
  text-align: center;
}

footer .heading-info {
  margin-bottom: 20px;
}

footer p {
  line-height: 25px;
}

span {
  color: var(--main-color);
}

hr {
  margin-bottom: 20px;
  border: var(--main-color);
  width: 500px;
  margin: 0 auto;
}

.para {
  color: #fff;
  font-family: sans-serif;
  text-align: center;
  margin-top: 20px;
}

/* Footer End */

/* Media Queries */

@media only screen and (max-width: 768px) {
  .main-headings,
  .primary-heading {
    font-size: 2.5rem;
  }
  #our-story {
    text-align: center;
    flex-direction: column;
    align-items: center;
  }

  #our-story .title {
    transform: none;
    margin: 0 auto;
  }

  #our-story .line {
    display: none;
  }

  .content-section {
    text-align: center;
    margin: 0 auto;
  }

  #our-story .img-container .img {
    width: 70%;
    text-align: center;
    margin: 0 auto;
  }

  -coffee-container .img-container {
    margin-top: 5rem;
    width: 50%;
  }
  .title {
    margin: 0 auto;
  }

  .title-two {
    margin: 0 auto;
  }

  .title-three {
    display: none;
  }

  .para {
    display: none;
  }
}
